.obsidian/workspace.json
.obsidian/themes/*
.obsidian/appearance.json
.obsidian/plugins/vector-search/data.json
.commit
ignore.md
file.md

# for now
Library/LanHikari22/clusterlinemd/
Library/lan22h/
CONFIG.md
