.obsidian/workspace.json
.obsidian/themes/*
.obsidian/appearance.json
.obsidian/plugins/vector-search/data.json
.commit
ignore.md
file.md

Library/lan22h/clusterlinemd/node_modules/
Library/lan22h/clusterlinemd/hello-wasm/target/
**/node_modules/
**/target/
